*.log
*.db

server-manager-logs
SteamCMD
SteamMeta
Workshop

DayZServer/*
!DayZServer/mpmissions
DayZServer/profiles/*
!DayZServer/profiles/ExpansionMod/Tradres
!DayZServer/profiles/ExpansionMod/Market
!DayZServer/profiles/ExpansionMod/Settings
!DayZServer/profiles/KOTH
!DayZServer/profiles/KOTH/Logs

**/storage*